h3{
    background-color:goldenrod;
}

body{
    background-color:gainsboro; text-align: center;
    }
.lists[
align:left;
]
.xp{
    text-align: left;
}
.tbl {
    bgcolor:forestgreen;   
}
{
    text-align: justify;
}